body { background: #F1EBE2; }

.entry { background:#fcfcfc; .border-radius (5px); border:solid 1px white; .box-shadow (0px 1px 2px rgba(000,000,000,0.3)); margin-bottom:8px; padding:9px 10px 9px; }


.panel {
  background: #F1EBE2;
  ul {
    .box-sizing;
    &.inset {
      padding:10px 7px 10px 7px;
    }
    list-style: none;
    width: 100%;
    li {
      background:#fcfcfc; 
      border:solid 1px white; 
      .box-shadow (0px 1px 2px rgba(000,000,000,0.3));
      border-bottom:1px solid #eee; .clearfix;
      padding:10px;
      a {
        display:block;
        padding: 12px 22px 12px 10px;
      }
      &.touchstart {
        background: blue;
        color:#ffffff;
      }
      img {
        padding: 10px;
      }
    }
  } 
}


// header toolbar 
.toolbar {
  background-color: #ccc;
  border-bottom: 1px solid #666;
  .gradient;
  padding: 7px 10px;

  .btn { 
    border-radius:5px; 
    font-size:14px; 
    position:absolute; 
    padding:7px;
    color:white; 
    text-shadow:0px -1px 0px #000; 
    .vertical-gradient (rgba(77,78,91,1) 0%, rgba(41,42,49,1) 100%); 
    box-shadow:0px 0px 0px 1px #1f1f23,0px 1px 0px 1px #3b3b40; }
  
  .left, .right {
    position: absolute;
  }
  .left {
    left:6px;
  }
  .right {
    right:6px;
  }
  
  .menu { 
    left:6px; 
    top:9px; 
    right:auto;
      
    .bar { 
      background:white;
      display:block; 
      height:3px; 
      width:20px;  
      .border-radius (3px); 
      margin:auto; 
      margin-bottom:3px; 
      .box-shadow (0px 1px 1px rgba(000,000,000,1))  
    }
    .bar:last-child {
      margin-bottom:0px;
    }
  }
  
  h1 {
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    overflow: hidden;
    line-height: 35px;
    margin: auto;
    text-shadow: 0px 1px 0px white;
  }
}

// Sliding out menu
#main-menu {  background: #35363f; color:white; height:100%; position:fixed; z-index:-5; display:block; width:100%; overflow-y: scroll;
  display:none;
  img { width:33px; height:33px; vertical-align: middle; display: block; float: left; margin: 4px 5px 0 0; .border-radius (5px); }
  .separator { 
    background: lighten(#35363f, 2%);
    background: -webkit-gradient( linear, left top, left bottom, from(#35363f), to(ligten(#35363f,10%)) );
     border-bottom: 1px solid #242A37;
     border-top: none;
     -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
     color: #7A8292;
     padding: 4px 0 4px 8px;
     text-shadow: 0 1px 0 rgba(0, 0, 0, .6); font-size: 10px; line-height: 12px; text-transform: uppercase;
    &.dark {  background: darken(#35363f,0%); }
    }
  li {
    position: relative;
    display: block;
    list-style: none;
    min-height: 43px; line-height: 40px;
    padding: 3px 0 3px 8px;     
    background-color: lighten(#35363f, 1%);
    border-bottom: 1px solid #242A37;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08);
    font-size: 16px;
    color: #C4CCDA;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
    &.activity:before, &.contacts:before, &.tasks:before, &.pipeline:before, &.settings:before { vertical-align:middle; content:''; width:22px; height:22px; background-size:16px 16px; display:block; float:left;  margin:9px; }
    &.activity:before { background:url(../img/22x22/home.png) no-repeat; }
    &.contacts:before { background:url(../img/22x22/clients.png) no-repeat; }
    &.tasks:before { background-position: -40px -30px; background-size:600px 100px;   }
    &.pipeline:before { background:url(../img/22x22/info.png) no-repeat; }
    &.settings:before { background:url(../img/22x22/system.png) no-repeat; }
    a { padding:14px 9px 14px 0px; color:white; font-size:13px;}
    
    }
  
   }


.gradient {
  background: #4d4e5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #4d4e5b 0%, #292a31 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4e5b), color-stop(100%,#292a31)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4d4e5b 0%,#292a31 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4d4e5b 0%,#292a31 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4d4e5b 0%,#292a31 100%); /* IE10+ */
  background: linear-gradient(top,  #4d4e5b 0%,#292a31 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4e5b', endColorstr='#292a31',GradientType=0 ); /* IE6-9 */

}