select, button { -webkit-tap-highlight-color:rgba(0,0,0,0); border:none; -webkit-appearance: none; }

body {
    -webkit-text-size-adjust: none;
}

// Mixin
.box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
///
#flight {
  position: absolute;
  height:100%;
  margin: auto;
  overflow:hidden;
  width: 100%;
  background: blue;
}

div {
  // applying this to divs prevents transtion flicker in ios
  -webkit-transform-style:preserve-3d;
  -webkit-perspective:1000px;
  -webkit-backface-visibility: hidden;
}

.panel {
  display: none;
  background: #f1ebe2;
  border:0px solid #55819A;
  position: absolute;
  height:100%;
  -webkit-transform-style:preserve-3d;
  -webkit-perspective:1000px;
  -webkit-backface-visibility: hidden;
  width:100%;
  .box-sizing;
    .content {
      background: #f1ebe2;
    }

    &.visible {
      display: block;
    }
}

img {
  padding: 10px;
}

.fixed-top, fixed-bottom {
  position: fixed;
  width:100%;
  z-index: 250;
}

.fixed-top {
  top:0;
}

.fixed-bottom {
  bottom:0;
}

