#flight {
  bottom: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#page-1 {
  background: #ff3000;
}

#page-2 {
  background: #ff4990;
}

.page {
  display: block;
  position: absolute;
  width: 100%;
}

#content {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}