<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">

		<title>Capsule CRM Mobile Web App</title>

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png" />
		<!-- For iPhone 4 with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png" />
		<!-- For first-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png" />
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png" />
		<!-- For nokia devices: -->
		<link rel="shortcut icon" href="img/touch/apple-touch-icon.png" />

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>	
		<!-- slide out menu -->	
		<div id="slide-out-menu">
			<ul>
				<li><img src="http://www.gravatar.com/avatar/3c377258fc3095eaec4615a34d6e622e.png" width="65" height="65" alt="Profile Pic">Dominique Briggs</li>
			</ul>
			<div class="separator">Main menu</div>
			<ul>
				<li class="activity"><a href="#activity">Activity</a></li>
				<li class="contacts"><a href="#contacts">Contacts</a></li>
				<li class="app-icon-before tasks"><a href="#tasks">Tasks</a></li>
				<li class="pipeline"><a href="#pipeline">Pipeline</a></li>
				<li class="settings"><a href="#settings">Settings</a></li>
			</ul>
		</div>
		
		<!-- Activity page -->		
		<div class="page" id="activity" data-transition="slide">
			<header>
				<div id="menu-btn" class="menu left btn">
					<button>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</button>
				</div>
				<a href="#test" class="btn right"><button>Forward</button></a> 
				<h1>Activity</h1>
			</header>
			<section>
				<div class="page-content">
					<div class="scroll-area">
						<ul>
							<script type="text/html" id="panel-1-li" charset="utf-8">
								<% if(type !== 'Task') { %> 
									<li>
								<% } else { %>
									<li class="app-icon-before complete-task">
								<% } %>
								<% if(type !== 'Task') { %>
									<img src="http://placekitten.com/30/30" /> 
								<% } %>
								 <div class="activity-content">
									<p class="entry-text"><%= note.truncate(70,true) %></p>
								     <small class="timestamp"><time>2 days ago </time>via Duncan Stockdill</small>
								 </div>
								</li>
							</script>
						</ul>
					</div>
				</div>
			</section>
		</div>		

		<!-- Test page -->		
		<div class="page hidden" id="test" data-transition="slide">
			<header>
				<a class="back btn left"><button>Back</button></a> 
				<h1>Test</h1>
			</header>
			<section>
				<div class="page-content">
					<div class="scroll-area">
							<ul><li>First line</li></ul>
							<ul>
							<li>Second line</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
							<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
							<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
							<li>laboris nisi ut aliquip ex ea commodo consequat.</li>
							<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
							<li>cillum dolore eu fugiat nulla pariatur.</li>
							<li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</li>
							<li>deserunt mollit anim id est laborum.</li>
							<li>Last line</li>
							</ul>
					</div>
				</div>
			</section>
		</div>		
 
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="vendor/jquery-1.7.1.min.js"><\/script>')</script>
		<script type="text/javascript" src="vendor/underscore.js"></script>
		<script type="text/javascript" src="vendor/backbone.js"></script>
		<script type="text/javascript" src="vendor/noClickDelay.js"></script>
		<script type="text/javascript" src="js/util.js"></script>

		<!-- application -->
		<script type="text/javascript" src="js/flight.js"></script>
		<script type="text/javascript" src="js/application.js"></script>
		<script type="text/javascript" src="js/models/Models.js"></script>
		<script type="text/javascript" src="js/routers/AppRouter.js"></script>
		<script type="text/javascript" src="js/views/Views.js"></script>
		<script type="text/javascript" src="js/collections/Collections.js"></script> 

		<script type="text/javascript">
		  $(function() {
			app.init();
			// disable touch move on header to prevent user stretching from top 
			header = document.querySelector('header')
			header.addEventListener('touchmove', function(event){
				event.preventDefault();
			});
		  });
		</script>
	</body>
</html>