<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!-- iPhone -->
    <link href="images/startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) -->
    <link href="images/startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="images/startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <title>Flight</title>
    <link rel="stylesheet" href="../lib/flight.css">
    <link rel="stylesheet" href="../lib/flight.theme.css">
  </head>

  <body>
    <div id="debug"></div>
    <div class="header-bg"></div>

    <div id="activity" class="page">
      <header>
        <a class="main-menu-btn left btn">
          <button class="menu secondary">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </button>
        </a>
        <a href="#contact/add" class="btn right"><button class="primary">Add</button></a>
        <h1>Activity</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">

          <ul id="activity-list" class="list">
            <!-- #activity-list-item -->
          </ul>

          </div>
        </div>
      </div>
    </div>

    <script type="text/html" id="activity-list-item">
      <li class="<%= (type == 'Task') ? 'app-icon-before complete-task' : '' %>">
        <a href="#entry">
          <% if (type != 'Task') { %>
            <img src="http://placekitten.com/30/30" />
          <% } %>
          <div class="activity-content">
            <p class="entry-text">
              <%= note.truncate(70, true) %>
            </p>
            <small class="timestamp">
              <time>2 days ago</time> via Duncan Stockdill
            </small>
          </div>
        </a>
      </li>
    </script>

    <div id="add-contact-form" class="page hidden">
      <header>
        <a class="back left btn">
            <button class="secondary">Cancel</button>
        </a>
        <h1>Test</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">
            <form>
              <li>
                <input type="text" placeholder="Firstname" />
              </li>
              <li>
                <input type="text" placeholder="Last name" />
              </li>
              <li>
                <input type="text" placeholder="Job title" />
              </li>
              <li>
                <input type="text" placeholder="Orgranisation" />
              </li>
              <li>
                <input type="text" placeholder="Email address" />
              </li>
              <li>
                <input type="number" placeholder="Phone number" />
              </li>
              <li>
                <textarea type="textarea" placeholder="Address"></textarea>
              </li>
              <li>
                <label>Address</label>
                <select>
                  <option>Home</option>
                  <option>Work</option>
                </select>
              </li>
              <li>
                <textarea type="textarea" placeholder="About"></textarea>
              </li>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="entry" class="page hidden">
      <header>
        <a class="back left btn">
          <button class="secondary">Back</button>
        </a>
        <h1>Entry</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>

    </div>
    <script src="vendor/jquery.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/backbone.js"></script>
    <script src="vendor/fastClick.js"></script>

    <script src="vendor/iscroll-lite.js"></script>

    <script src="../lib/flight.js"></script>

    <script src="app/application.js"></script>
    <script src="app/routers.js"></script>
    <script src="app/models.js"></script>
    <script src="app/collections.js"></script>
    <script src="app/views.js"></script>

    <script type="text/javascript">
      $(function() {
        app.init();

        // disable touch move on header to prevent user stretching from top
        header = document.querySelector('header')
        header.addEventListener('touchmove', function(e) {
          e.preventDefault();
        });

        $('.back').on('click', function() {
          window.history.back()
        });

        $(document).on('click', 'header h1', function() {
          $('.scrollview-inner').animate({ scrollTop: '0px' })
        })

        if (window.Touch) {
          new FastClick(document.body);
        }

      });
    </script>

  </body>
</html>
