<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>Capsule</title>

    <link rel="stylesheet" href="../build/flight.css">
  </head>

  <body>
    <div class="header-bg"></div>
    <div id="main-menu">
      <ul class="account-holder">
        <li>
          <a id="close-menu-btn"></a>
          <a href=""><img src="http://www.gravatar.com/avatar/ec8db10afc84d59ddae81bac9c6c9697.png" width="65" height="65" alt="Profile Pic" />
          Dominique Briggs</a>
        </li>
      </ul>
      <ul>
        <li class="activity"><a href="#!/activity">Activity</a></li>
        <li class="contacts"><a href="#!/parties">Contacts</a></li>
        <li class="app-icon-before tasks"><a href="#!/tasks">Tasks</a></li>
        <li class="pipeline"><a href="#!/pipeline">Pipeline</a></li>
        <li class="settings"><a href="#!/settings">Settings</a></li>
      </ul>
    </div>

    <div id="activity" class="page" data-transition="slide">
      <header>
        <a class="main-menu-btn left btn">
          <button class="menu secondary">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </button>
        </a>
        <a href="#test" class="btn right"><button class="primary">Forward</button></a>
        <a id="prepend" class="btn right"><button class="primary">Prepend input</button></a>
        <h1>Activity</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">

          <ul id="activity-list" class="list">
            <!-- #activity-list-item -->
          </ul>

          </div>
        </div>
      </div>
    </div>

    <script type="text/html" id="activity-list-item">
      <li class="<%= (type == 'Task') ? 'app-icon-before complete-task' : '' %>">

        <% if (type != 'Task') { %>
        <img src="http://placekitten.com/30/30" />
        <% } %>

        <div class="activity-content">
          <a href="#test">
          <p class="entry-text">
            <%= note.truncate(70, true) %>
          </p>
          </a>
          <small class="timestamp">
            <time>2 days ago</time> via Duncan Stockdill
          </small>
        </div>
      </li>
    </script>

    <div id="test" class="page hidden" data-transition="slide">
      <header>
        <a class="back left btn">
            <button class="secondary">Back</button> 
        </a>
        <h1>Test</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">
            <form>
              <li>
                <input type="text" placeholder="Firstname" />
              </li>
              <li>
                <input type="text" placeholder="Last name" />
              </li>
            </form>
            <ul class="list">
              <li><p>First line</p></li>
              <li><p>Second line</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse</p></li>
              <li><p>cillum dolore eu fugiat nulla pariatur.</p></li>
              <li><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p></li>
              <li><p>deserunt mollit anim id est laborum.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse</p></li>
              <li><p>cillum dolore eu fugiat nulla pariatur.</p></li>
              <li><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p></li>
              <li><p>deserunt mollit anim id est laborum.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse</p></li>
              <li><p>cillum dolore eu fugiat nulla pariatur.</p></li>
              <li><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p></li>
              <li><p>deserunt mollit anim id est laborum.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Duis aute irure dolor in reprehenderit in voluptate velit esse</p></li>
              <li><p>cillum dolore eu fugiat nulla pariatur.</p></li>
              <li><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p></li>
              <li><p>deserunt mollit anim id est laborum.</p></li>
              <li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></li>
              <li><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco</p></li>
              <li><p>laboris nisi ut aliquip ex ea commodo consequat.</p></li>
              <li><p>Last line</p></li>
            </ul>

          </div>
        </div>
      </div>

    </div>

    <script src="../vendor/jquery.js"></script>
    <script src="../vendor/underscore.js"></script>
    <script src="../vendor/backbone.js"></script>

    <script src="../build/flight.js"></script>

    <script src="../build/application.js"></script>
    <script src="../build/routers.js"></script>
    <script src="../build/models.js"></script>
    <script src="../build/collections.js"></script>
    <script src="../build/views.js"></script>

    <script type="text/javascript">
      $(function() {
        app.init();
        // disable touch move on header to prevent user stretching from top
        header = document.querySelector('header')
        header.addEventListener('touchmove', function(e) {
          e.preventDefault();
        });

        $('.menu').on('click', function() {
          flight.slideOutMenu();
        });

        $('.back').on('click', function() {
          window.history.back()
        });

        // debugging test
        $('#prepend').on('click',function(){
          $('#activity-list').prepend('<li><input type="text" placeholder="Inout me" /></li>');
        });
        
      });
    </script>

  </body>
</html>
