<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!-- iPhone -->
    <link href="images/glide-splash-320x460.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) -->
    <link href="images/glide-splash-640x920.jpg" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 5 -->
    <link href="images/glide-splash-640x1096.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

    <link rel="apple-touch-icon" href="images/glide-icon.png" />
    <link rel="apple-touch-icon-precomposed" href="images/glide-icon.png"/>

    <title>Glide</title>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../lib/flight.css">
    <link rel="stylesheet" href="../lib/flight.theme.css">
  </head>

  <body>
    <div id="debug"></div>
    <div class="header-bg"></div>

    <div id="index" class="page hidden">
      <header>
        <h1 class="logo">Glide</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
            <p class="white">The <i>smoothest</i> mobile transition library</p>
            <ul class="list menu">
              <li><a href="#animations">Animations<i class="icon-right-dir-1"></i></a></li>
              <li><a href="#getting-started">Getting started<i class="icon-right-dir-1"></i></a></li>
              <li><a href="#credits">Credits<i class="icon-right-dir-1"></i></a></li>
            </ul>
            <a href="#contacts">
              <button class="large green">View contacts demo</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="getting-started" class="page hidden demo-content">
      <header>
        <a class="back left btn"><i class="icon-left-dir-1"></i></a>
        <h1>Getting started</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
            <h2>Using Glide</h2>
            <p>Glide is as a simple lightweight mobile transition library.</p>
             <h3>Features</h3>
             <ul>
                <li><code>flight.css</code> gives scructure to your app making it easy to create fixed top or bottom positioned elements.</li>
                 <li><code>flight.js</code> handles forwards and backwards page transitions.</li>
                 <li>We use <code>fastclick.js</code> to speed up clicks.</li>
                 <li>Extend flight wih your own plugins.</li>
              </ul>
              <h2>Markup</h2>
              <h3>Pages</h3>
              <p>Organise your app into pages:</p>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="animations" class="page hidden">
      <header>
        <a class="back left btn"><i class="icon-left-dir-1"></i></a>
        <h1>Animations</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
            <ul class="list menu">
              <li><a href="#slide">Slide<i class="icon-right-dir-1"></i></a></li>
              <li><a href="#slideUp">Slide up<i class="icon-up-dir-1"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="slide" class="page hidden demo-content">
      <header class="shadow">
        <a class="back left btn"><i class="icon-left-dir-1"></i></a>
        <h1>Slide</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
            <h2>The slide transition</h2>
            <p>Slide is the default transition between pages. If the markup is correct Glide will handle the forwards and back transitions for you.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="slideUp" class="page hidden demo-content" data-transition="slideUp">
      <header class="shadow">
        <a class="back left btn"><i class="icon-down-dir-1"></i></a>
        <h1>Slide Up</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
            <h2>The slide up transition</h2>
            <p>To apply slide up add <code>data-transition="slideUp"</code> to the same element which has the class <code>.page</code>. Glide will figure out that this page has a slide up transition and will perform the reverse on the way back.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="add-contact-form" class="page hidden">
      <header>
        <a class="back left btn">
            <button class="secondary">Cancel</button>
        </a>
        <h1>Test</h1>
      </header>
      <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">
            <form>
              <li>
                <input type="text" placeholder="Firstname" />
              </li>
              <li>
                <input type="text" placeholder="Last name" />
              </li>
              <li>
                <input type="text" placeholder="Job title" />
              </li>
              <li>
                <input type="text" placeholder="Orgranisation" />
              </li>
              <li>
                <input type="text" placeholder="Email address" />
              </li>
              <li>
                <input type="number" placeholder="Phone number" />
              </li>
              <li>
                <textarea type="textarea" placeholder="Address"></textarea>
              </li>
              <li>
                <label>Address</label>
                <select>
                  <option>Home</option>
                  <option>Work</option>
                </select>
              </li>
              <li>
                <textarea type="textarea" placeholder="About"></textarea>
              </li>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="contacts" class="page hidden contacts">
      <header class="shadow">
        <a class="back left btn">
            <button class="secondary">Back</button>
        </a>
        <h1>Contacts</h1>
      </header>
       <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content">
            <ul id="contacts-list" class="list">
              <!-- #contact-list-item -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="contact-page" class="page hidden contacts"></div>

    <script type="text/html" id="contact-list-item">
       <li>
         <a href="#contacts/<%= id %>">
           <% if ( image != '' ){ %>
             <img class="<% if ( image === 'tyrion.jpg' ){ %> bw <% } %>" src="images/200x200/<%= image %>"/>
           <% } else { %>
              <img src="http://placehold.it/50/50" />
           <% } %>
           <%= name %>
          </a>
       </li>
    </script>

    <script type="text/html" id="contact-item">
      <header class="shadow">
        <a class="back left btn">
            <button class="secondary">Back</button>
        </a>
        <h1><%= name %></h1>
      </header>
       <div class="scrollview">
        <div class="scrollview-inner">
          <div class="scrollview-content inset">
           <div class="profile-image <% if ( image === 'tyrion.jpg' ){ %> bw <% } %> ">
               <img src="images/200x200/<%= image %>"/>
             </div>
             <div class="info">
               <h2><%= name %></h2>
               <p><%= about %></p>
               <a href="#">
                <button class="large turquoise">Do something cool</button>
               </a>
             </div>
          </div>
        </div>
      </div>

    </script>



    <script src="vendor/jquery.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/backbone.js"></script>
    <script src="vendor/fastClick.js"></script>

    <script src="../lib/flight.js"></script>
    <script>
      window.glide = new Glide({stylesheetPath: '../lib/'})
    </script>
    <script src="../lib/flight.menu.js"></script>

    <script src="app/application.js"></script>
    <script src="app/routers.js"></script>
    <script src="app/models.js"></script>
    <script src="app/collections.js"></script>
    <script src="app/views.js"></script>

    <script type="text/javascript">
      $(function() {
        app.init()

        // disable touch move on header to prevent user stretching from top
        $(document).on('touchmove','header', function(e) {
          e.preventDefault();
        });

        $('.back').on('click', function() {
          window.history.back()
        })

        $(document).on('click', 'header h1', function() {
          $('.scrollview-inner').animate({ scrollTop: '0px' })
        })

        if (window.Touch) {
          new FastClick(document.body)
        }

         // need to move this into flight
        if (navigator.standalone) {
          window.preventScrolling = true
          $(document)
          .on('touchstart','.scrollview-content', function() {
            this.style.minHeight = (this.parentNode.offsetHeight+2)+'px'
            window.preventScrolling=false
          })
          .on('touchmove', '.scrollview-content', function(e) {
            if (window.preventScrolling) e.preventDefault()
          })
          .on('touchend', '.scrollview-content', function() {
            window.preventScrolling = true
          })
        } else {
          $(document)
          .on('touchstart', '.scrollview-content', function() {
          this.style.minHeight = (this.parentNode.offsetHeight+2)+'px'
          })
        }


      });

    </script>

  </body>
</html>
